body {
	background-color: rgba(105, 97, 97, 0.2);
	padding: 0px;
	margin: 0px;
}


header {
	background-color: white;
	position: fixed;
	z-index: 10;
	top: 0px;
	width: 100%;
}

#LogoContainer {
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	height: 100px;
}

#LogoContainer i {
	position: relative;
	top: -13px;
}

#logo {
	max-height: 90px;
	display: flex;
	position:relative;
	transition:2s
}

#navbar {
  overflow: hidden;
  
  background-color: white;
  border:green 2px solid;
  transition: 1.2s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  padding: 30px 10px 30px 10px;
  
}

.navBox{position:relative; transition: 0.9s}

.carousel, .item, .active{height:100%; width:100%}
.container{width:100%;}

nav {
	display: inline-flex;
 	justify-content: center;
 	align-items: center;
	
	width: 45%;
	float: right;
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
}

nav a 
{
	display: inline-flex;
	justify-content: center;
 	align-items: center;
	text-align: center;
	transition-property: background-color, color;
	transition-duration: 1.5s;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

nav a:hover {
	background-color: rgb(0, 132, 3);
	color: white;
}

#SelectedNav {
	background-color: rgb(0, 132, 3);
	color: white;
}

#ContactUsBox {
	display: inline-flex;
	text-align: center;
	flex-direction: column;
	text-align: center;
	position: relative;
	line-height:20px;
	float: right;
	font-size:1.1em;
	background-color: white;
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: lightgray;
	padding-right: 20px;
	padding-left: 20px;
	transition: 0.9s
}

#ContactUsBox p {
	padding: 5px;
	margin: 0px;
	margin-top: 2px;
}

#BookAppointment {
	margin: 0px;
	margin-top: -4px;
	position: relative;
	left: -20px;
	text-align: center;
	transition-property: background-color, color;
	transition-duration: 1.5s;
	width: 100%;
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
}

#BookAppointment:hover {
	background-color: rgb(0, 132, 3);
	color: white;
}




#page-container {
	position: relative;
	min-height: 100vh;
	margin-top:175px
}

#content-wrap {
	padding-bottom: 100px;
}

footer {
	background-color: white;
	color: black;
	position: absolute;
	height: 108px;
	width: 100%;
	bottom: 0vh;
}

#FooterInfo {
	display: inline-flex;
	justify-content: center;
 	align-items: center;
	width: 70%;
	float: right;
}

#FooterInfo p {
	display: inline-flex;
	justify-content: center;
 	align-items: center;
	margin: 0px;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;

}

#ParentCompanyLogoContainer {
	text-align: center;
	display: block;
	width: 350px;
	float: left;
}

#ParentCompanyLogoContainer a {
	text-decoration: none;
	display: block;
	left: -10px;
}

#ParentCompanyLogoContainer p {
	margin: 0px;
	display: block;
	margin-top: 3px;
}

#ParentCompanyLogo {
	width: 150px;
	display: block;
	margin: auto;
}
