body {
	background-color: none;
	padding: 0px;
	margin: 0px;
}


header {
	background-color: white;
	position: fixed;
	z-index: 10;
	top: 0px;
	width: 100%;
}

#LogoContainer {
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	height: 100px;
}

#LogoContainer i {
	position: relative;
	top: -13px;
}

#logo {
	max-height: 90px;
	display: flex;
	position:relative;
	transition:1s
}

#navbar {
  overflow: hidden;
  background-color: white;
  border:green 2px solid;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  padding: 30px 10px 30px 10px;
  transition: 1s;
  outline: 100px solid rgba(100, 100, 100, 0);
  transition-property: height;
  height: 160px;
}

.navBox{
	position:relative;
	transition: 1s;
	height: 100px;
}

.carousel, .item, .active{height:750px; width:98vw}
.container{
	width:100%;
	padding: 0px;
	margin-top: -70px;
	border: 2px rgb(0, 132, 3) solid
}

.carousel-caption {
	background-color: rgba(200, 200, 200, 0.5);
	font-size: 30px;
}	

nav {
	display: inline-flex;
 	justify-content: center;
 	align-items: center;
	transition-duration: 1s;
	width: 45%;
	float: right;
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
}

nav a 
{
	display: inline-flex;
	justify-content: center;
 	align-items: center;
	text-align: center;
	transition-property: background-color, color;
	transition-duration: 1s;
	
	padding-left: 10px;
	padding-right: 10px;
}

nav a:hover {
	background-color: rgb(0, 132, 3);
	color: white;
}

#SelectedNav {
	background-color: rgb(0, 132, 3);
	color: white;
}

#ContactUsBox {
	display: inline-flex;
	text-align: center;
	flex-direction: column;
	text-align: center;
	position: relative;
	line-height:20px;
	float: right;
	font-size:1.1em;
	background-color: white;
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: lightgray;
	padding-right: 20px;
	padding-left: 20px;
	transition: 0.9s;
	bottom: "-0.3px";
	height: 100px;
}

#ContactUsBox p {
	padding: 5px;
	margin: 0px;
	margin-top: 4px;
}

#BookAppointment {
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 4px;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	transition-property: background-color, color, padding;
	transition-duration: 1s;
	color: #337ab7;
}

#BookAppointment:hover {
	background-color: rgb(0, 132, 3);
	color: white;
	text-decoration: underline;
}




#page-container {
	position: relative;
	min-height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-top:160px
}

#content-wrap {
	padding-bottom: 100px;
}

.bodyText
{
	font-size:3.3em;
	text-align:center;
	margin:60px 0px 60px 0px;
	
}

.book{margin:80px 0px 35px 0px; display:flex; justify-content:center}
textarea
{
	resize:none;
	margin:0px 0px 10px 10px;
	font-size:1.85em;
	border:2px solid lightgray;
	border-radius: 10px;
	width:45vw;
	overflow: hidden;
}
.textFlex
{
	display:flex;
	flex-direction: column;
}
 .textFlex p
{
	font-size: 1.8em;
	text-align: center
}
 .book b{font-size:1.7em; color:rgb(0, 132, 3)}
.inputHeader
{
	font-size:3.2em;
	font-weight: bold;
	text-align: center;
}
 .inputText
{
	font-size:2em;
	margin-top:60px;
	font-weight: bold;
	text-align: center
}
form
{
	margin-right:-60px
}
input
{
	margin:0px 0px 10px 10px;
	font-size:1.85em;
	height:60px;
	border:2px solid lightgray;
	border-radius: 10px;
	width:45vw
}
input:hover
{
	background-color:rgba(214, 206, 206, 0.3)
}
textarea:hover{background-color:rgba(214, 206, 206, 0.3)}
.submit
{
	height:30px;
	font-size:1.4em;
	background-color:rgb(0, 132, 3);
	color:white;
	position: relative;
	left:10%;
	width:40%;
}
 .submit:hover
{
	background-color:rgba(0,132,3,0.9);
}


footer {
	background-color: white;
	border:solid 2px green;
	color: black;
	position: absolute;
	height: 108px;
	width: 100%;
	bottom: 0vh;
}

#FooterInfo {
	display: inline-flex;
	justify-content: center;
 	align-items: center;
	width: 70%;
	float: right;
}

#FooterInfo p {
	display: inline-flex;
	justify-content: center;
 	align-items: center;
	margin: 0px;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;

}

#ParentCompanyLogoContainer {
	text-align: center;
	display: block;
	width: 350px;
	float: left;
}

#ParentCompanyLogoContainer a {
	text-decoration: none;
	display: block;
	left: -10px;
}

#ParentCompanyLogoContainer p {
	margin: 0px;
	display: block;
	margin-top: 3px;
}

#ParentCompanyLogo {
	width: 150px;
	display: block;
	margin: auto;
}


















#ContactUsBar {
	width: 100%;
	background-color: rgb(220, 220, 220);
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
 	align-items: center;
 	height: 100px;
}

#ContactUsBar div {
	margin: 10px;
	background-color: white;
	height: 50px;
	display: flex;
	justify-content: center;
 	align-items: center;
 	text-align: center;
}

#CUPhone {
	width: 25%;
}

#CUEmail {
	width: 40%;
}

#CUSocial {
	width: 25%;
}

#CUSocial i {
	transform: scale(2);
	width: 22%;
}

#CenteringContainer {
	width: 100%;
	background-color: rgb(220, 220, 220);
	display: inline-flex;
 	align-items: center;
	margin-bottom: 20px;

}

#OperationsBox {
	width: 33%;
	background-color: rgb(220, 220, 220);
	display: inline-flex;
	flex-direction: column;
 	align-items: center;

}

#OperationsBox h2 {
	color: rgb(0, 132, 3);
}

#OperationsBox img {
	width: 80%;
}


#BookAppointmentContainer {
	width: 33%;
	background-color: rgb(220, 220, 220);
	display: inline-flex;
	flex-direction: column;
 	align-items: center;
}

#BookAppointmentContainer input {
	margin: 10px;
	padding: 10px;
	width: 400px;
	height: 60px;
}

#BookAppointmentContainer textarea {
	margin: 10px;
	padding: 10px;
	width: 400px;
	height: 200px;
}

#BookAppointmentContainer p {
	color: rgb(0, 132, 3);
}

#BookAppointmentContainer h2 {
	color: rgb(0, 132, 3);
}

#BookAppointmentContainer h2 {
	float: right;
}

#AppointmentHoursBox {
	width: 33%;
	background-color: rgb(220, 220, 220);
	display: inline-flex;
	flex-direction: column;
 	align-items: center;

}

#AppointmentHoursBox p {
	color: rgb(0, 132, 3);
}

#AppointmentHoursBox h2 {
	color: rgb(0, 132, 3);
}





#blogBlock {
	text-align: center;
	margin-bottom: 5px;
	background-color: rgb(220, 220, 220);
	padding-bottom: 10px;
}

.blogPosts {
	width: 33%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	margin-bottom: 5px;
}

.blogPosts img {
	width: 100%;
}

.blogPosts p {
	width: 100%;
	text-align: center;
}

.articleLink {
	color: #337ab7;
    text-decoration: none;
    padding: 10px;
    transition-property: background-color, color;
	transition-duration: 1s;
}

.articleLink:hover {
	color: white;
	text-decoration: underline;
	background-color: rgb(0, 132, 3);
	padding: 10px;
}

#loadMoreButton {
	width: 99.5%;
	height: 80px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: center;
	color: #337ab7;
    text-decoration: none;
    transition-property: background-color, color;
	transition-duration: 1s;
}

#loadMoreButton:hover {
	color: white;
	text-decoration: underline;
	background-color: rgb(0, 132, 3);	
}

.productHeader
{
	font-size:3em;
	margin-top:-165px;
	background-image: url(images/fruits.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	height:350px;
	color:green;
	text-align: center
}

.productContainer
{
	border:1.5px rgb(0, 132, 3) solid; 
	box-shadow: 2px 5px;
	margin-bottom: 7px;
	background-color:rgba(247, 239, 239, 0.2)
}
.productContainer h1{font-size:3em; color: rgb(0, 132, 3); border-bottom: 3px rgb(0, 132, 3) solid}
.productHorz
{
	display:flex;
	
	
}

.productHorz div
{
	margin-right:40px
}

.productVert
{
	display:flex;
	flex-direction: column;
	
	
	
}
.productVert b{text-align: center; color:rgb(0, 132, 3); margin-top:30px;font-size:2.6em}
.productVert p
{
	font-size:2em;
	text-align: center
}

.productHorz img
{
	min-width:350px;
	margin-right:25px;
	margin-top:25px;
	max-height:250px;
	border-radius: 50%;
	border:5px rgb(0, 132, 3) ridge
}

	.navbar-toggle {
		display: none;
	}

	#buttonBox {
		display: none;
	}

@media screen and (max-width: 1741px)
{
	.productHorz img
	{
		min-width: 280px;
		max-height:200px;
	}

	.productVert p
	{
		font-size:1.5em	
	}

	.productVert b
	{
		font-size:1.8em;
	}
}

@media screen and (max-width: 1624px)
{
	.productHorz img
	{
		width:130px;
		height:180px;
	}
}


@media screen and (max-width: 1490px)
{
	.productHorz img
	{
		width: 280px;
		height:200px;
	}

	.productVert p
	{
		font-size:1.3em	
	}

	.productVert b
	{
		font-size:1.5em;
	}
}

@media screen and (max-width: 1291px)
{
	.productHorz img
	{
		width: 150px;
		height:175px;
	}

	.productVert p
	{
		font-size:1.5em	
	}

	.productVert b
	{
		font-size:1.8em;
	}

	.productHorz
	{
		flex-direction: column;
		align-items: center
	}

	
}

@media screen and (max-width: 399px)
{
	
	.productContainer h1
	{
		font-size:2em;
		position: relative;
		left:15%
		
	}
		.productHorz img
	{
		width: 150px;
		height:175px;
	}

	.productVert p
	{
		font-size:1.4em	
	}

	.productVert b
	{
		font-size:1.7em;
	}

}

@media screen and (max-width: 1000px) {
	nav {
		display: none;
	}

	.navbar-toggle {
		display: flex;
		background-color: white;
		position: fixed;
		border: 1px solid rgb(0, 132, 3);
	}

	#buttonBox {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		float: right;
	}

	.navbar-collapse {
		position: fixed;
		background-color: rgb(0, 132, 3);
		z-index: 100;
		transition: margin-top 1s, height .35s ease;
		margin: 0px;
		margin-top: 68px;
		width: 105%;
	}
}